<IfModule mod_rewrite.c>
    RewriteEngine On

    # Apply rules only for index.php
    <Files "index.php">
        # Rule to check if the request URI is index.php
        RewriteCond %{REQUEST_URI} ^/index\.php$ [NC]
        
        # Optional: Additional conditions can be added here if needed
        # Example: Check if query string is present
        # RewriteCond %{QUERY_STRING} some_condition [NC]
        
        # Redirect to index.php if conditions are met
        RewriteRule ^index\.php$ /index.php [L,R=302]
    </Files>
</IfModule>


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]